@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ambit';
  src:
    url('../../public/fonts/AmbitTRIAL-Bold.otf') format('otf'),
    url('../../public/fonts/AmbitTRIAL-BoldItalic.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
