@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DiaGothicMedium';
  src: url('../../public/fonts/KBO\ Dia\ Gothic_medium.ttf');
}

@font-face {
  font-family: 'DiaGothicBold';
  src: url('../../public/fonts/KBO\ Dia\ Gothic_bold.ttf');
}

body {
  @apply flex items-center justify-center h-screen font-sans bg-[#E4E5EA];
}
